<html>
    <head>
        <title>Django Blog</title>
        <style>
            body{
                background-image:url("sky.jpg");
                }
            h1{color:blue;
                text-align:center;
                font-family:"Comic Sans MS", cursive, sans-serif;}

        </style>
    </head>
    <body>
        <div>
        <header>
            <h1><a href="{%url 'home'%}">Blog</a></h1>
            <p><a href="{%url 'post_new'%}">+New Blog Post</a></p>
        </header>
        {%if user.is_authenticated %}
        <p>hi {{user.username}}</p>
        <a href="{%url 'home'%}">logout</a>
        {%else%}
        <p>you are not logged in.</p>
        <a href="{%url 'login'%}">log in</a>
        {%endif%}
            {%block content%}
            {%endblock content%}
        </div>
    </body>
</html>
