{%extends 'base.html'%}
{%block content%}
<h1></h1>
<form action="" method="post">{%csrf_token%}
<p>are you sure you want to delete this post whatsoever"{{post.title}}"" ?</p>
<input type="submit" value="confirm"/>
</form>
{%endblock content%}