{%extends 'base.html'%}
{% block content%}
<div class="post-entry">
    <h1>{{post.title}}</h1>
    <p>{{post.body}}</p>
</div>
<div>
    <a href="{% url 'post_edit' post.pk %}"">Edit post</a>
    <a href="{%url 'post_delete' post.pk%}">Delete Post</a>
</div>
{%endblock content%}